html,
body{
	height: 100vh;
}


body {
  background-color: $silver-100;
  color: $dark;
  @extend %rubik-regular;
  line-height: 1.4;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.main{
	flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  padding: 12px 32px;
  background-color: $orange-900;
  color: $white;
  border-radius: 5px;
  line-height: 1.3;
  transition: box-shadow 0.5s ease-in, background-color 0.5s ease-in,
    color 0.5s ease-in;
  &:focus {
    box-shadow: 0 0 0 2px $peach-shadow;
    background-color: $light-peach;
    color: $orange-900;
  }
  &:hover {
    background-color: $white;
    box-shadow: 0 5px 12px rgba(255, 104, 56, 0.2), 0 0 0 2px $peach-shadow;
    color: $orange-900;
  }
  &:active {
    background-color: $light-peach;
    color: $orange-900;
  }
}

.icon {
  fill: transparent;
  stroke: $dark;
  transition: stroke 0.5s ease;
}

.links {
  transition: box-shadow 0.5s ease, color 0.5s ease, text-shadow 0.5s ease,
    border-radius 0.5s ease;
  border-radius: 5px;
  &:focus {
    box-shadow: 0 0 0 2px $orange-900;
  }
  &:hover {
    color: $orange-900;
  }
  &:active {
    color: $orange-900;
    text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
  }
}

.title {
  display: block;
  @extend %rubik-medium;
  font-size: 36px;
  line-height: 1.3;
}

.card {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: $white;
  align-items: center;
  padding: 10px 15px 10px;
  border-radius: 5px;
  box-shadow: 0 0 0 1px $silver-200;
  transition: box-shadow 0.5s ease-in-out;
  &__image {
    margin-bottom: 10px;
    text-align: center;
  }
  &__link {
    display: inline-block;
  }
  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  &__title {
    @extend %bold-paragraph;
    line-height: 18px;
  }
  &__price {
    @extend %bold-paragraph;
  }
  &__btn {
    padding: 7px 16px;
    @extend %small-paragrapgh;
    line-height: 1.3;
    color: $white;
    background-color: $orange-900;
    margin: 10px 0;
  }
  &:hover {
    box-shadow: 0 0 0 1px $orange-900;
  }
}
