<section class="app section">
	<div class="container">
		<div class="app__wrap">
			<div class="app__about">
				<h2 class="app__title title">Скачайте мобильное приложение
				</h2>
				<div class="app__description descr">
					<p>Рестораны, которые вы любите - в ваших руках. Устанавливайте
						приложение
						и заказывайте еду в любом удобном месте. </p>
				</div>

				<ul class="app__list">
					<li class="app__elem">
						<a class="app__link" href="#">
							<img class="app__icon" src="images/app/icon-apple.svg"
								alt="Иконка ссылки на Apple" width="120" height="40">
						</a>
					</li>
					<li class="app__elem">
						<a class="app__link" href="#">
							<img class="app__icon" src="images/app/icon-google.svg"
								alt="Иконка ссылки на Google" width="135" height="40">
						</a>
					</li>
				</ul>

			</div>
			<span class="sr-only">Фоновое изображение с салатом и логотипом</span>
			<div class="app__image" style="background-image: url(images/app/appbg.jpg);">
			</div>
		</div>
	</div>
</section>