<section class="features section">
	<div class="container">
		<div class="features__wrap">
			<div class="features__image" style="background-image: url(images/features/food-delivery.png);">
			</div>
			<div class="features__info">
				<h2 class="features__title title">
					Оставайтесь дома,
					<br>
					а мы позаботимся о еде
				</h2>
				<div class="features__about descr">
					<p>У нас есть вкусная еда и мы готовы доставить её к вам домой! Воспользуйтесь нашей
						доставкой прямо сейчас и получите скиидку!
					</p>
				</div>

				<ul class="features__list">

					<li class="features__item">
						<svg class="features__marks features__marks--timer">
							<use xlink:href="images/sprite.svg#icon-timer"></use>
						</svg>
						<p class="features__descr">Быстрая доставка за 15 минут</p>
					</li>

					<li class="features__item">
						<svg class="features__marks features__marks--delivery">
							<use xlink:href="images/sprite.svg#icon-delivery"></use>
						</svg>
						<p class="features__descr">Вежливые курьеры</p>
					</li>

					<li class="features__item">
						<svg class="features__marks features__marks--resturent">
							<use xlink:href="images/sprite.svg#icon-resturent"></use>
						</svg>
						<p class="features__descr">Более 500 заведений</p>
					</li>

				</ul>
				<a class="features__link button" href="#">
					Подробнее
				</a>
			</div>
		</div>
	</div>
</section>