<header class="header">
	<div class="burger-menu">
		<ul class="burger-menu--top">
			<li class="burger-menu--elem">
				<a class="logo" href="#">
					<img class="logo__img" src="images/header/logo.svg" alt="Логотип Simple Food" width="200"
						height="39">
				</a>
			</li>
			<li class="burger-menu--elem">
				<button class="burger-menu--btn">
					<span class="sr-only">Закрыть меню</span>
				</button>
			</li>
		</ul>
		<div class="decorative-line"></div>
		<nav class="menu">
			<ul class="menu__list">
				<li class="menu__item menu__item--color">
					<a class="menu__link animated-links" href="#">
						Главная
					</a>
				</li>
				<li class="menu__item ">
					<a class="menu__link animated-links" href="page.html">
						Блюда
					</a>
				</li>
				<li class="menu__item">
					<a class="menu__link animated-links" href="#">
						Контакты
					</a>
				</li>
			</ul>
		</nav>
		<div class="decorative-line"></div>
		<address class="address">
			<ul class="address__list">

				<li class="address__item">
					<svg class="address__marks icon">
						<use xlink:href="images/sprite.svg#icon-location"></use>
					</svg>
					<a class="address__link animated-links" href="#" target="_blank">
						ул. Т.Г.Шевченко, 1
					</a>
				</li>

				<li class="address__item">
					<svg class="address__marks icon">
						<use xlink:href="images/sprite.svg#icon-call"></use>
					</svg>
					<a class="address__link animated-links" href="tel:+380501112233">
						380501112233
					</a>
				</li>

				<li class="address__item">
					<svg class="address__marks icon">
						<use xlink:href="images/sprite.svg#icon-message"></use>
					</svg>
					<a class="address__link animated-links" href="mailto:support@sfood.com">
						support@sfood.com
					</a>
				</li>

			</ul>

			<ul class="address__social ">
				<li class="address__elem">
					<span class="sr-only">Написать нам в фейсбук</span>
					<a class="address__reference" href="#">
						<svg class=" address__icon address__icon--facebook icon">
							<use xlink:href="images/sprite.svg#icon-facebook"></use>
						</svg>
					</a>
				</li>

				<li class="address__elem">
					<span class="sr-only">Написать нам в твиттер</span>
					<a class="address__reference" href="#">
						<svg class=" address__icon address__icon--twitter icon">
							<use xlink:href="images/sprite.svg#icon-twitter"></use>
						</svg>
					</a>
				</li>

				<li class="address__elem">
					<span class="sr-only">Написать нам в инстаграм</span>
					<a class="address__reference" href="#">
						<svg class="address__icon address__icon--instagram icon">
							<use xlink:href="images/sprite.svg#icon-instagram"></use>
						</svg>
					</a>
				</li>
			</ul>
		</address>
	</div>
	<div class="header__top">
		<div class="container">
			<div class="header__wrap">
				<a class="logo" href="#">
					<img class="logo__img" src="images/header/logo.svg" alt="Логотип Simple Food" width="200"
						height="39">
				</a>
				<nav class="menu">
					<ul class="menu__list">
						<li class="menu__item menu__item--color">
							<a class="menu__link animated-links" href="#">
								Главная
							</a>
						</li>
						<li class="menu__item">
							<a class="menu__link animated-links" href="#">
								Блюда
							</a>
						</li>
						<li class="menu__item">
							<a class="menu__link animated-links" href="#">
								Контакты
							</a>
						</li>
					</ul>
					<ul class="user">
						<li class="user__item">
							<span class="sr-only">Ссылка на поиск товаров</span>
							<button class="user__btn">
								<svg class="user__icon icon">
									<use xlink:href="images/sprite.svg#icon-search"></use>
								</svg>
							</button>
						</li>

						<li class="user__item">
							<span class="sr-only">Ссылка на корзину клиента</span>
							<button class="user__btn">
								<svg class="user__icon icon">
									<use xlink:href="images/sprite.svg#icon-cart"></use>
								</svg>
								<span class="user__num">4</span>
							</button>
						</li>

					</ul>

					<button class="burger" type="button">
						<span class="burger__line"></span>
						<span class="sr-only">Открыть меню</span>
					</button>
				</nav>
			</div>
		</div>
	</div>
</header>