<section class="hero">
	<div class="container">
		<div class="hero__wrap">
			<div class="hero__info">
				<h1 class="sr-only">Сайт доставки еды "Simple Food"</h1>
				<h2 class="hero__title">
					Доставка
					<span class="hero__subtitle">За 15 минут</span>
				</h2>
				<div class="hero__descr descr">
					<p>Самый быстрый сервис доставки еды в вашем городе. Не уложимся в
						срок - доставка за наш счёт</p>
				</div>
				<div class="hero__menu">
					<a class=" hero__link button" href="page.html">
						Заказать
					</a>
					<a class="more animated-links" href="#">
						Подробнее
					</a>
				</div>
			</div>

			<div class="hero__image" style="background-image: url(images/hero/scooter-guy.png);">
				<span class="sr-only">Фоновое изображение курьера</span>
			</div>
		</div>
	</div>
</section>