<section class="popular section">
	<div class="container">
		<h2 class="popular__title title">Популярные категории</h2>
		<ul class="popular__list">

			<li class="popular__item">
				<button class="popular__button" data-filter="all">
					<svg class="popular__icon popular__icon--elem icon">
						<use xlink:href="images/sprite.svg#icon-burger"></use>
					</svg>
					Бургер
				</button>
			</li>

			<li class="popular__item">
				<button class="popular__button" data-filter=".category-b">
					<svg class="popular__icon icon">
						<use xlink:href="images/sprite.svg#icon-pizza"></use>
					</svg>
					Пицца
				</button>
			</li>

			<li class="popular__item">
				<button class="popular__button" data-filter=".category-c">
					<svg class="popular__icon icon">
						<use xlink:href="images/sprite.svg#icon-sanvich"></use>
					</svg>
					Сендвичи
				</button>
			</li>

			<li class="popular__item">
				<button class="popular__button" data-filter=".category-d">
					<svg class="popular__icon icon">
						<use xlink:href="images/sprite.svg#icon-asia"></use>
					</svg>
					Азиатская кухня
				</button>
			</li>

			<li class="popular__item">
				<button class="popular__button" data-filter=".category-e">
					<svg class="popular__icon icon">
						<use xlink:href="images/sprite.svg#icon-plate"></use>
					</svg>
					Сеты
				</button>
			</li>
		</ul>

		<ul class="popular__catalog">
			<li class="popular__catalog-item mix category-a">

				<article class="product-card">
					<a class="product-card__link" href="#">
						<img src="images/card/cheesburger.svg" alt="Картинка чизбургера" width="140"
							height="140">
					</a>
					<h3 class="product-card__title">Чизбургер с листьями салата</h3>
					<span class="product-card__price">160 грн</span>
					<button class="product-card__btn button" type="button">В корзину</button>
				</article>

			</li>

			<li class="popular__catalog-item mix category-a">
				<article class="product-card">
					<a class="product-card__link" href="#">
						<img src="images/card/beefburger.svg" alt="Картинка бифбургера" width="140"
							height="140">
					</a>
					<h3 class="product-card__title">Бифбургер</h3>
					<span class="product-card__price">190 грн</span>
					<button class="product-card__btn button" type="button">В корзину</button>
				</article>
			</li>

			<li class="popular__catalog-item mix category-a">
				<article class="product-card">
					<a class="product-card__link" href="#">
						<img src="images/card/royalcheese.svg" alt="Картинка королевского чизбургера"
							width="140" height="140">
					</a>
					<h3 class="product-card__title">Королевский чизбургер</h3>
					<span class="product-card__price">260 грн</span>
					<button class="product-card__btn button" type="button">В корзину</button>
				</article>
			</li>

			<li class="popular__catalog-item mix category-b">
				<article class="product-card">
					<a class="product-card__link" href="#">
						<img src="images/card/blackcburg.svg" alt="Картинка черного гамбургера"
							width="140" height="140">
					</a>
					<h3 class="product-card__title">Черный гамбургер</h3>
					<span class="product-card__price">199 грн</span>
					<button class="product-card__btn button" type="button">В корзину</button>
				</article>
			</li>

			<li class="popular__catalog-item mix category-c">
				<article class="product-card">
					<a class="product-card__link" href="#">
						<img src="images/card/chickenburg.svg" alt="Картинка чикен бургера" width="140"
							height="140">
					</a>
					<h3 class="product-card__title">Чикен бургер</h3>
					<span class="product-card__price">180 грн</span>
					<button class="product-card__btn button" type="button">В корзину</button>
				</article>
			</li>

			<li class="popular__catalog-item mix category-c">
				<article class="product-card">
					<a class="product-card__link" href="#">
						<img src="images/card/cheesburger.svg"
							alt="Картинка чизбургера с листьями салата" width="140" height="140">
					</a>
					<h3 class="product-card__title">Чизбургер с листьями салата</h3>
					<span class="product-card__price">160 грн</span>
					<button class="product-card__btn button" type="button">В корзину</button>
				</article>
			</li>

			<li class="popular__catalog-item mix category-c">
				<article class="product-card">
					<a class="product-card__link" href="#">
						<img src="images/card/beefburger.svg" alt="Картинка бифбургера" width="140"
							height="140">
					</a>
					<h3 class="product-card__title">Бифбургер</h3>
					<span class="product-card__price">190 грн</span>
					<button class="product-card__btn button" type="button">В корзину</button>
				</article>
			</li>

			<li class="popular__catalog-item mix category-d">
				<article class="product-card">
					<a class="product-card__link" href="#">
						<img src="images/card/royalcheese.svg" alt="Картинка королевского чизбургера"
							width="140" height="140">
					</a>
					<h3 class="product-card__title">Королевский чизбургер</h3>
					<span class="product-card__price">260 грн</span>
					<button class="product-card__btn button" type="button">В корзину</button>

				</article>
			</li>

			<li class="popular__catalog-item  mix category-e">
				<article class="product-card">
					<a class="product-card__link" href="#">
						<img src="images/card/blackcburg.svg" alt="Картинка черного бургера" width="140"
							height="140">
					</a>
					<h3 class="product-card__title">Черный гамбургер</h3>
					<span class="product-card__price">199 грн</span>
					<button class="product-card__btn button" type="button">В корзину</button>
				</article>
			</li>

			<li class="popular__catalog-item mix category-e">
				<article class="product-card">
					<a class="product-card__link" href="#">
						<img src="images/card/chickenburg.svg" alt="Картинка чикен бургера" width="140"
							height="140">
					</a>
					<h3 class="product-card__title">Чикен бургер</h3>
					<span class="product-card__price">180 грн</span>
					<button class="product-card__btn button" type="button">В корзину</button>

				</article>
			</li>

		</ul>

		<a class="more animated-links" href="#">
			Показать ещё
		</a>

	</div>
</section>