<section class="resturant section">
	<div class="container">
		<h2 class=" resturant__title title">Лучшие рестораны</h2>
		<ul class="resturant__catalog slider">

			<li class="resturant__item">
				<article class="menu-card">
					<img class="menu-card__image" src="images/resturant/Blaze-pizza.jpg"
						alt="Картинка пиццы от Blaze-pizza" width="370" height="300">
					<div class="menu-card__inner">
						<h3 class="menu-card__title">
							Blaze Pizza
						</h3>
						<div class="menu-card__nav">
							<time datetime="2013-04-06T13:53" class="menu-card__time">
								<svg class="menu-card__mark icon">
									<use xlink:href="images/sprite.svg#icon-clock"></use>
								</svg>
								11:00 - 22:00
							</time>
							<a class="menu-card__reference" href="#">
								<span class="sr-only">Прочитать подробнее</span>
								<svg class="menu-card__icon icon">
									<use xlink:href="images/sprite.svg#icon-arrowright"></use>
								</svg>
							</a>
						</div>
					</div>
				</article>
			</li>

			<li class="resturant__item">
				<article class="menu-card">
					<img class="menu-card__image" src="images/resturant/Pizza-runcho.jpg"
						alt="Картинка пиццы от Blaze-pizza" width="370" height="300">
					<div class="menu-card__inner">
						<h3 class="menu-card__title">
							Pizza Runcho
						</h3>
						<div class="menu-card__nav">
							<time datetime="2013-04-06T13:53" class="menu-card__time">
								<svg class="menu-card__mark icon">
									<use xlink:href="images/sprite.svg#icon-clock"></use>
								</svg>
								12:00 - 21:00
							</time>

							<a class="menu-card__reference" href="#">
								<span class="sr-only">Прочитать подробнее</span>
								<svg class="menu-card__icon icon">
									<use xlink:href="images/sprite.svg#icon-arrowright"></use>
								</svg>
							</a>
						</div>
					</div>
				</article>
			</li>

			<li class="resturant__item">
				<article class="menu-card">
					<img class="menu-card__image" src="images/resturant/Pizza-hut.jpg"
						alt="Картинка пиццы от Blaze-pizza" width="370" height="300">
					<div class="menu-card__inner">
						<h3 class="menu-card__title">
							Pizza Hut
						</h3>
						<div class="menu-card__nav">
							<time datetime="2013-04-06T13:53" class="menu-card__time">
								<svg class="menu-card__mark icon">
									<use xlink:href="images/sprite.svg#icon-clock"></use>
								</svg>
								11:00 - 22:00
							</time>
							<a class="menu-card__reference" href="#">
								<span class="sr-only">Прочитать подробнее</span>
								<svg class="menu-card__icon icon">
									<use xlink:href="images/sprite.svg#icon-arrowright"></use>
								</svg>
							</a>
						</div>
					</div>
				</article>
			</li>

			<li class="resturant__item">
				<article class="menu-card">
					<img class="menu-card__image" src="images/resturant/Mc-Donalds.jpg"
						alt="Картинка пиццы от Blaze-pizza" width="370" height="300">
					<div class="menu-card__inner">
						<h3 class="menu-card__title">
							McDonald`s
						</h3>
						<div class="menu-card__nav">
							<time datetime="2013-04-06T13:53" class="menu-card__time">
								<svg class="menu-card__mark icon">
									<use xlink:href="images/sprite.svg#icon-clock"></use>
								</svg>
								06:00 - 23:00
							</time>
							<a class="menu-card__reference" href="#">
								<span class="sr-only">Прочитать подробнее</span>
								<svg class="menu-card__icon icon">
									<use xlink:href="images/sprite.svg#icon-arrowright"></use>
								</svg>
							</a>
						</div>
					</div>
				</article>
			</li>

			<li class="resturant__item">
				<article class="menu-card">
					<img class="menu-card__image" src="images/resturant/Kfc.jpg"
						alt="Картинка пиццы от Blaze-pizza" width="370" height="300">
					<div class="menu-card__inner">
						<h3 class="menu-card__title menu-card__title--kfc">
							Kfc
						</h3>
						<div class="menu-card__nav">
							<time datetime="2013-04-06T13:53" class="menu-card__time">
								<svg class="menu-card__mark icon">
									<use xlink:href="images/sprite.svg#icon-clock"></use>
								</svg>
								06:00 - 23:30
							</time>
							<a class="menu-card__reference" href="#">
								<span class="sr-only">Прочитать подробнее</span>
								<svg class="menu-card__icon icon">
									<use xlink:href="images/sprite.svg#icon-arrowright"></use>
								</svg>
							</a>
						</div>
					</div>
				</article>
			</li>

			<li class="resturant__item">
				<article class="menu-card">
					<img class="menu-card__image" src="images/resturant/Star-Burger.jpg"
						alt="Картинка пиццы от Blaze-pizza" width="370" height="300">
					<div class="menu-card__inner">
						<h3 class="menu-card__title">
							Star Burgers
						</h3>
						<div class="menu-card__nav">
							<time datetime="2013-04-06T13:53" class="menu-card__time">
								<svg class="menu-card__mark icon">
									<use xlink:href="images/sprite.svg#icon-clock"></use>
								</svg>
								09:00 - 21:00
							</time>
							<a class="menu-card__reference" href="#">
								<span class="sr-only">Прочитать подробнее</span>
								<svg class="menu-card__icon icon">
									<use xlink:href="images/sprite.svg#icon-arrowright"></use>
								</svg>
							</a>
						</div>
					</div>
				</article>
			</li>

		</ul>
	</div>
</section>